@import "../../style/variables";

.cartMenuBackground {
  background-color: rgba(57, 55, 72, 0.4);
  position: absolute;
  width: 100vw;
  height: 150vh;
  right: 0;
  top: 80px;
  z-index: 2;
  margin: 0;
}

.cartMenuSection {
  position: absolute;
  width: 308.5px;
  max-height: 613px;
  background-color: white;
  z-index: 2;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16.5px;
  margin-right: 200px;

  h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
  }
}

.myBagCaption {
  font-weight: 700;
}

.enableCartMenu {
  top: 80px;
  transition: top 0.4s ease-in-out;
}

.disableCartMenu {
  top: -1000px;
  transition: top 0.4s ease-in-out;
}

.cartItems {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 40px;
  max-height: 420px;
  overflow-y: scroll;
}

.cartItems::-webkit-scrollbar {
  width: 16.5px;
}

.cartItems::-webkit-scrollbar-thumb {
  background-color: $hoverColor;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  background-clip: content-box;
  width: 5px;
}

.cartItems::-webkit-scrollbar-thumb:hover {
  background-color: #d7d7d7;
}

.total {
  margin-top: 41px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 16.5px;

  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
  }
}

.cartMenuButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 16.5px;
}

.cartMenuButton {
  width: 140px;
  height: 43px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 32px;
}





