@import "./../../style/variables";

.category {
  border: 0;
  color: $textColor;
  border-bottom: 2px transparent;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  padding: 30px 16px;
  cursor: pointer;
}

.active {
  transition: all .2s ease-in;
  color: $main;
  border-bottom: 2px solid $main;
}