@import "./../../style/variables";

.heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 41px;
  height: 41px;
  padding: 24px 30px;
  margin-right: 130px;
}

.actions {
  display: flex;
  justify-content: center;
}

.headingButtons {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}

.currencyLogo {
  display: flex;
  align-items: center;

  h3 {
    font-weight: 500;
  }

  img {
    width: 6px;
    height: 3px;
    margin-left: 6px;
  }
}

.currency {
  width: 10px;
  display: flex;
  justify-content: center;
  padding: 15px 12px 30px;
}

.cart {
  padding: 10px 12px 24px;
  position: relative;

  img {
    width: 20px;
    height: 20px;
  }
}

.cartButtonCounter {
  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
  }
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 23px
}

