@import "./../../style/variables";

.heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 41px;
  height: 41px;
  padding: 24px 30px;
  margin-right: 130px;
}

.actions {
  display: flex;
  justify-content: center;

  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

.currencyLogo {
  display: flex;
  align-items: center;

  h3 {
    font-weight: 500;
  }

  img {
    width: 6px;
    height: 3px;
    margin-left: 6px;
  }
}

.currency {
  width: 10px;
  display: flex;
  justify-content: center;
  padding: 15px 12px 30px;
}

.cart {
  padding: 10px 12px 24px;
  img {
    width: 20px;
    height: 20px;
  }
}

