@import "./../../style/variables";

.heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .logo {
    width: 41px;
    height: 41px;
    padding: 30px;
  }
}

.actions {
  button {
    border: 0;
    background-color: transparent;
    padding: 30px;
  }
}

.currency {
  img {
    width: 38px;
    height: 29px;
  }
}

.cart {
  img {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
  }
}

