@import "variables";

.transparentButton {
  border: 1px solid black;
  background-color: transparent;
  color: black;
}

.transparentButton:hover {
  background-color: black;
  color: white;
}

.greenButton {
  border: 1px solid transparent;
  color: white;
  background-color: $main;
}

.greenButton:hover {
  background-color: white;
  color: $main;
  border: 1px solid $main;
}

.counterButton {
  background-color: transparent;
  border: 1px solid black;
  font-size: 14px;
}

.notInStockButton {
  color: white;
  background-color: #b7b7b7;
  border: 0;
  cursor: not-allowed;
}

.disable {
  display: none !important;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}