.cartPageItemSection {
  width: 100%;

  h2 {
    font-size: 30px;
  }

  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 30px;
}

.cartPageItemBrandCaption {
  font-weight: 600;
  margin: 0 0 16px;
}

.cartPageItemNameCaption {
  font-weight: 400;
  margin: 0 0 20px;
}

.cartPageItemPrice {
  font-size: 24px;
  font-weight: 700;
}

.cartPageItemCounterAndGallery {
  width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}