@import "../../style/variables";

.currencyMenu {
  position: absolute;
  width: 114px;
  margin-top: 60px;
  margin-left: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  list-style-type: none;
  padding: 10px 0;
}

.currencyItem {
  width: 94px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  cursor: pointer;
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}

.disable {
  display: none;
}

.currencyItem:hover {
  background-color: $hoverColor;
}